# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environments
venv/
.env/
.venv/

# VSCode / PyCharm
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Project specific
data/*.csv
!data/.keep   # Si vols mantenir la carpeta buida, pots posar un fitxer .keep

figures/
reports/

# Output PDFs
*.pdf

# Misc
*.log
*.bak
